/************************* DEBUG SETTINGS *************************/

/* Settings to help find errors in your css
   uncomment temporarily to enable */

/* Add dotted line around all boxes.
   This makes size of boxes visible.
   Warning 1: this settings may change your layout.
   Warning 2: keep the * as selector for all tags when uncommenting. */
/*  * {border: 1px dotted black;}   */

/* Add semi-transparant dark background to all boxes
   The more boxes are on top of eachother the darker tghe background color
   Warning: keep the * as selector for all tags when uncommenting. */
/*  * {background-color: rgba(0,0,0,5%);}  */

/************************* BASE SETTINGS *************************/

/* Settings to make it easier for you
   uncomment permanently when you understand the meaning of them */

/* border is included in width en height of boxes */
/* * { box-sizing: border-box; } */

/* standard margin 0 pixels */
/* * { margin: 0px; } */

/* hide everything larger than the dimensions of the div-box
   important side effect: browser usually doesn't take floats
   into account when determining height of div, leading to 
   div with height zero. With this settings, height of div-boxes
   willl be large enough to fit floats inside. */
/* div { overflow: hidden; }

/************************* YOUR SETTINGS *************************/

/* add your css here, feel free to use comments and order them logically for better readability */
/* ...existing code... */
:root {
  --color-header: #0c411d;
  --color-nav: #0c411d;
  --color-main: hwb(0 100% 0%);
  --color-footer: #727472;
  --bg: #ffffff;
  --text: #222222;
  --font-sans: "Inter", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

body {
   display: grid;
   grid-template-areas:
      "header nav"
      "main main"
      "footer footer";
   grid-template-columns: 4fr 1fr;
   grid-template-rows: 120px 1fr 60px;
}

header {
   grid-area: header;
   background-color: var(--color-header);
}

nav {
   grid-area: nav;
   background-color: var(--color-nav);
}

nav ul {
   list-style: none;
   display: flex;
   gap: 20px;


}

nav ul li a {
   color: white;
   font-size: 20px;
}

main {
   grid-area: main;
   min-height: 80vh;
   background-color: var(--color-main);
}

footer {
   grid-area: footer;
   background-color: var(--color-footer);
}                         

h1 {
   margin-top: 5px;
}

img {
   width: 500px;
   height: 500px;
   object-fit: cover;
}